@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';

}

body {
    overflow: hidden;


}

/// Главный контейнер
/// 
.Main_container {

    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 100%), url(./assets/background/b1e423c724aed50792b9d16fa8f1f137.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;




    /// Меню 
    .Left_menu_bar {
        width: auto;
        height: 100%;
        display: flex;
        align-items: start;
        justify-content: start;
        flex-direction: column;
        border-right: 1px solid #ffffff;
        padding: 1rem;
        position: relative;
        // @media (min-width:1px) and (max-width:1024px) {
        //     border: none;
        // }
.Logo_container {
    img  {

        @media (min-width:320px) and (max-width:1024px) {
            width: 100px;
        }
    }
}
        .Menu_box {
            width: auto;
            height: auto;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            @media (max-height:312px) {
                top:60%;
            }
            // @media (min-width:1px) and (max-width:1024px) {
            //     transform: translateY(0);
            // }

            ul {
                width: auto;
                height: auto;
                display: flex;
                align-items: start;
                justify-content: center;
                flex-direction: column;
                list-style: none;
                gap: 20px;

                // @media (min-width:1px) and (max-width:1024px) {
                //     align-items: center;
                // }

                &>li:first-child>a {
                    color: #E81010;

                    &::before {
                        content: '';
                        position: absolute;
                        height: 0.1rem;
                        background-color: #E81010;
                        width: 100%;
                        bottom: -5px;
                        left: 0;
                        transition: .4s;
                    }
                }

                li {
                    width: auto;
                    height: auto;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    a {
                        font-size: 1.5rem;
                        text-decoration: none;
                        color: #ffffff;
                        position: relative;
                        transition: .4s;
@media (min-width:320px) and (max-width:1024px) {
    font-size: 0.8rem;
}
                        @media (max-height:387px) {
                            font-size: 1rem;
                        }
                        @media (max-height:322px) {
                            font-size: 0.7rem;
                        }

                        &::before {
                            content: '';
                            position: absolute;
                            height: 0.1rem;
                            background-color: #E81010;
                            width: 0;
                            bottom: -5px;
                            left: 0;
                            transition: .4s;
                        }

                        &:hover {
                            color: #E81010;
                        }

                        &:hover::before {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }

    // Основная часть

    .Page_container {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        flex-direction: column;

        // @media (min-width:1px) and (max-width:1024px) {
        //     padding: 40px;
        // }

        .Request_call {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            background: transparent;
            padding: 4rem;

            @media (max-height:340px) {
                padding: 1rem;
            }
@media (min-width:320px) and (max-height:768px) {
    padding: 0.5rem;
}
         

            button {
                width: 13rem;
                height: 3.5rem;
                border: none;
                border-radius: 5px;
                background: transparent;
                cursor: pointer;
                border: 1px solid #ffffff;
                color: #ffffff;
                font-size: 1.2rem;
                transition: .4s;
                font-weight: 500;
@media (min-width:320px) and (max-height:768px) {
    font-size: 0.8rem;
    width: 8rem;
    
}
                @media (max-height:547px) {
                    height: 1.5rem;

                }

                &:hover {
                    background-color: #ffffff;
                    color: #000000;
                }
            }
        }

        .Info_box {
            width: auto;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 4rem;
            padding: 0 4rem;

            @media (max-height:740px) {
                gap: 2rem;
            }

            @media (max-height:399px) {
                gap: 0.9rem;
            }

            // @media (min-width:320px) and (max-width:1024px) {
            //     width: 100%;
            // }

            .Title_box {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                p {

                    font-weight: 500;
                    font-size: 3rem;
                    color: #ffffff;
                    text-align: center;

                    @media (min-width:1px) and (max-width:1024px) {
                        font-size: 1.5rem;
                    }

                    @media (max-height:750px) {
                        font-size: 1rem;
                    }

                    @media (max-height:455px) {
                        font-size: 0.7rem;
                    }
                }
            }

            .Description_box {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: flex-end;

                p {
                    width: 27rem;
                    font-size: 1rem;
                    color: #ffffff;
                    text-align: left;

                    @media (max-height:455px) {
                        font-size: 0.6rem;
                    }

                    @media (min-width:1px) and (max-width:1024px) {
                        width: 100%;
                        text-align: center;
                    }
                }
            }

            .Button_box {
                button {
                    width: 13rem;
                    height: 3.5rem;
                    border: none;
                    border-radius: 5px;
                    background: transparent;
                    cursor: pointer;
                    border: 1px solid #ffffff;
                    color: #ffffff;
                    font-size: 1.2rem;
                    transition: .4s;
                    font-weight: 500;

                    @media (max-height:523px) {
                        height: 1.5rem;
                        font-size: 1rem;
                        width: 10rem;
                    }

                    &:hover {
                        background-color: #ffffff;
                        color: #000000;
                    }
                }
            }
        }

        .About_company_box {
            width: 100%;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;


            // @media (min-width:320px) and (max-width:1024px) {
            //     gap: 30px;
            // }

            .About_box {
                transition: .4s;
            }

            &>.About_box:hover {
                background-color: #003A8A;
            }

            .About_box {
                width: 33.3%;
                height: 14rem;
                background: transparent;
                border: 1px solid #ffffff;
                padding: 2rem;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
                gap: 2rem;

                @media (max-height:780px) {
                    height: 8rem;
                    gap: 0.5rem;
                    flex-wrap: nowrap;
                }

                @media (max-height:583px) {
                    height: 1rem;
                }

                // @media (min-width:1px) and (max-width:1024px) {
                //     width: 100%;

                // }

                h1 {
                    color: #ffffff;

                    @media (max-height:425px) {
                        font-size: 0.9rem;
                    }
                }

                p {
                    color: #ffffff;
                    font-size: 1.4rem;

                    @media (max-height:780px) {
                        font-size: 1rem;
                    }

                    @media (max-height:425px) {
                        font-size: 0.4rem;
                    }

                    @media (min-width:768px) and (max-width:1024px) {
                        text-align: center;
                        font-size: 0.6rem;
                    }

                    @media (min-width:320px) and (max-width:768px) {
                        text-align: center;
                        font-size: 0.5rem;
                    }
                }
            }
        }
    }

    // Правая часть

    .Right_bar {
        width: 20%;
        height: 100%;
        padding: 2rem 3rem;
        display: flex;
        justify-content: flex-start;
        border-left: 1px solid #ffffff;
@media (min-width:320px) and (max-width:768px) {
    padding: 2rem 1rem ;
}
        // @media (min-width:1px) and (max-width:1024px) {
        //     display: none;
        // }

        .Menu_btn {
            width: 50px;
            height: 1rem;
            border-top: 1px solid #ffffff;
            border-bottom: 1px solid #ffffff;
            cursor: pointer;
            @media (min-width:320px) and (max-width:768px) {
                width: 20px;
            }
        }
    }
}